body {
    background: linear-gradient(rgba(0 , 0 , 0 , 0.6) , rgba(0 , 0 , 0 , 0.6)) , url(./اوقات+شرعی.jpg) no-repeat center/cover;
    min-height: 100vh;
    direction: rtl;
}

.oghat {
    text-align: center;
    color: white;
}